.bm-burger-button {
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  .bm-burger-bars {
    background: #373a47;
  }  

  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  .bm-cross-button {
    height: 45px;
    width: 45px;
  }
  
  .bm-cross {
    height: 45px;
    width: 45px;
    background: #bdc3c7;
  }
  
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  .bm-menu {
    margin-top: -5vh;
    background: white;
    padding: 0.8rem 0.6rem 0;
    font-size: 1.3em;
    
  }
  
  .bm-morph-shape {
    fill: #373a47;
  }
  
  .bm-item-list {
    text-align: center;
    color: rgb(244 63 94 / var(--tw-bg-opacity));
    padding: 2em;
  }
  
  .bm-item {
    display: inline-block;
  }
  
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
/* styling next link component so that will be a column list of links*/
  .bm-item-list a {
    display: flex;
    flex-direction: column;
  }