@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Peyda";
  src: url("../../public/fonts/PeydaWeb-Regular.woff");
  font-weight: 400;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
 33% { transform: rotate(0.5deg); }
 66% { transform: rotate(-0.5deg); }
100% { transform: rotate(0deg); }
}

@font-face {
  font-family: "Peyda";
  src: url("../../public/fonts/PeydaWeb-SemiBold.woff");
  font-weight: 600;
}

@font-face {
  font-family: "Peyda";
  src: url("../../public/fonts/PeydaWeb-Black.woff");
  font-weight: 900;
}

.member-img {
  animation: none;
  transition: all 0.5s;
  filter: grayscale(100%);
}

.member-img:hover {
  animation: wiggle 0.3s ease-in;
  filter: grayscale(0%);
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  direction: rtl;
}

body {
  scroll-behavior: smooth;
  --tw-bg-opacity: 1;
  background-color: #0072ff;
}

